## Task 1 - Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [1]:
import pandas as pd
import numpy as np

In [23]:
df = pd.DataFrame(np.random.rand(4,4))

In [24]:
df

          0         1         2         3
0  0.345723  0.342170  0.942570  0.330438
1  0.969907  0.928822  0.574185  0.586471
2  0.219902  0.713306  0.880017  0.846358
3  0.359913  0.521711  0.675052  0.646622

## Task 2 - Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [25]:
df.columns = ['Random value 1','Random value 2','Random value 3','Random value 4']

In [26]:
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.345723        0.342170        0.942570        0.330438
1        0.969907        0.928822        0.574185        0.586471
2        0.219902        0.713306        0.880017        0.846358
3        0.359913        0.521711        0.675052        0.646622

## Task 3 - Find the descriptive statistics of the 'df' dataframe.

In [27]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.473861        0.626502        0.767956        0.602472
std          0.336630        0.252163        0.172459        0.212672
min          0.219902        0.342170        0.574185        0.330438
25%          0.314268        0.476826        0.649835        0.522463
50%          0.352818        0.617508        0.777534        0.616547
75%          0.512411        0.767185        0.895655        0.696556
max          0.969907        0.928822        0.942570        0.846358

## Task 4 - Check for the null values in 'df' and find the data type of the columns

In [33]:
df.isnull().any()

Random value 1    False
Random value 2    False
Random value 3    False
Random value 4    False
dtype: bool

In [45]:
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [44]:
df.dtypes

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

## Task 5 - Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

In [38]:
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.345723        0.342170        0.942570        0.330438
1        0.969907        0.928822        0.574185        0.586471
2        0.219902        0.713306        0.880017        0.846358
3        0.359913        0.521711        0.675052        0.646622

In [47]:
df.loc[:,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.342170        0.942570
1        0.928822        0.574185
2        0.713306        0.880017
3        0.521711        0.675052

In [48]:
df.iloc[:,1:3]

   Random value 2  Random value 3
0        0.342170        0.942570
1        0.928822        0.574185
2        0.713306        0.880017
3        0.521711        0.675052